/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, sans-serif;
    color: #324B4B;
    font-weight: 250;
    background-color: #E0FFFF;
    padding-top: 0px;
    position: relative;
}

a {
    text-decoration: none;
}



/* Heading and logo */

header {
    position: relative;
    overflow: hidden;
    height: 250px;
}


.background-pic {
    background-image: url("../images/sea.jpg");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    z-index: -1;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.welcome-container {
    width: 100%;
    margin-top: 30px;

}

.welcome {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.welcome p {
    margin-top: 30px;
}

.shop-front-img img {
    display: inline-block;
    width: 33%;
    margin-top: 30px;
}


#main-heading {
    text-align: center;
    font-size: 300%;
    margin-top: 0px;
}

#main-heading a {
    position: relative;
    top: 7px;
}

.logo {
    height: 5%;
    width: 5%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

/* Animation of header */
.background-pic {
    -webkit-animation-name: background-pic;
            animation-name: background-pic;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

/* creates the level of zoom header-pic */

@-webkit-keyframes background-pic {
    from {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }

    to {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

@keyframes background-pic {
    from {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }

    to {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

/*navigation bar */

#nav-bar {
    font-size: 120%;
    letter-spacing: 4px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: #e0ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#nav-bar ul {
    gap: 0 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#nav-bar li {
    display: inline;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    top: 0;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#nav-bar a:hover {
    border-bottom: 4px solid lightskyblue;
}

#nav-bar-center {
    display: table;
    margin: 0 auto;

}

/* Main welcome dialogue */

.welcome {
    text-align: left;
}

.welcome h2 {
    font-size: 40px;
}

.call-today {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
}

/* Style of the cod haddock huss */
#fish_section {
    width: 100%;
    height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#fish_section div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 300px;
    margin-bottom: 10px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}



/* customer feedback and form styling */

#form-msg,
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#fnamei,
#lnamei,
#emaili,
#infoi {
    width: 60%;

}

#fname,
#lname,
#email,
#info {
    display: block;   
}

#infoi {
    height: 100px;
}

#submit-but {
    background-color: darkgrey;
    color: white
}

/* google map */

#googlemap {
    width: 900px;
    height: 800px;
    border-style: none;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#map {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


/*menu styling */

.table,
tr,
td,
th {
    width: 50%;
    margin-left: 25%;
    text-align: left;
    color: black;
    margin-bottom: 15%;
}

.table-spacing {
    height: 50px;
}

.shop-front-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Footer and social network styles */

footer {
    text-align: center;
    margin: 0;
    bottom: 0;
    left: 50%;
    display: block;
}

footer ul {
    width: 100%;
    height: 100px;
    padding: 0;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 160%;
    height: 50px;
    margin: 2%;
    padding: 4%;
    color: slategrey;
}

/* form styling */


.contact-form {
    text-align: center;
}

.contact-form input {
    height: 0%;
}

#info {
    margin: auto;
    width: 60%;
}

#submit-but {
    background-color: black;
    color: white;
    width: 90px;
    height: 27px;
    margin-top: 20px;

}


/* Media Querys */

@media screen and (max-width:950px) {

    #googlemap {
        width: 80%;
        height: 600px;
    }
}

@media screen and (max-width:795px) {

    #main-heading {
        font-size: 35px;

    }

    #nav-bar li {
        font-size: 20px;
    }

    .welcome h2 {
        font-size: 25px;

    }

    .welcome p {
        font-size: 22px;
    }

    .welcome {
        max-width: 80%;

    }

    #fish_section {
        height: auto;
    }

    #fish_section div {
        height: auto;
        padding-bottom: 50px;
    }

}

@media screen and (max-width:695px) {

    #nav-bar {
        height: auto;
    }

    #nav-bar ul {

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

            -ms-flex-direction: column;

                flex-direction: column;

    }

    #nav-bar li {

        margin: 5px;

    }

    .shop-front-img {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .shop-front-img img {
        width: 70%;
    }

    .call-today {
        font-size: 20px
    }

}


@media screen and (max-width:586px) {

    #main-heading {
        font-size: 25px;

    }

    header {
        height: 190px;
    }

    #nav-bar li {
        font-size: 18px;
    }

    .welcome h2 {
        font-size: 20px;

    }

    .welcome p {
        font-size: 18px;
    }

}


@media screen and (max-width:430px) {

    #main-heading {
        font-size: 15px;
    }

    .background-pic {
        height: 110px;
    }

    header {
        height: 120px;
    }

    #nav-bar li {
        font-size: 13px;
    }

    .form-msg h2 {
        font-size: 20px;

    }

    #googlemap {
        width: 80%;
        height: 400px;
    }
}