@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');



body {
    font-family: Lato, sans-serif;
    color: slategrey;
    font-weight: 250;
    background-color: #E0FFFF;
    height: 480px;
    padding-top: 0px;
}



/* Heading and logo */

.background-pic {
    background-image: url("../images/sea.jpg");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    z-index: -1;
    position: absolute;
}

.welcome-container {
    width: 100%;
    margin-top: 60px;
}

.welcome {
    display: block;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.shop-front-img img {
    display: inline-block;
    width: 33%;
}


#main-heading {
    text-align: center;
    font-size: 300%;
    margin-top: 0px;
}

#logo {
    height: 5%;
    width: 5%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

/* Animation of header */
.background-pic {
    animation-name: background-pic;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    width: 100%;
}

/* creates the level of zoom header-pic */

@keyframes background-pic {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*navigation bar */

#nav-bar {
    font-size: 120%;
    letter-spacing: 4px;
}

#nav-bar li {
    display: inline;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;

}

#nav-bar a {
    text-decoration: none;
    color: darkgray;
    font-weight: 600;
}

#nav-bar a:hover {
    border-bottom: 4px solid lightskyblue;
}

#nav-bar-center {
    display: table;
    margin: 0 auto;
}

/* Main welcome dialogue */

.welcome {
    text-align: left;
}

.welcome h2 {
    font-size: 40px;
}

/* Style of the cod haddock huss */
#fish_section {
    width: 100%;
    height: 310px;

}

#fish_section div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 300px;
    margin-bottom: 10px;
    float: left;
    margin-left: auto;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}



/* customer feedback and form styling */

#form-msg,
h2 {
    text-align: center;
}

#fnamei,
#lnamei,
#emaili,
#infoi {
    width: 60%;
}

#fname,
#lname,
#email,
#info {
    display: block;
    box-align: center;
}

#infoi {
    height: 100px;
}

#submit-but {
    background-color: darkgrey;
    color: white
}

/* Footer and social network styles */

footer {
    text-align: center;
    margin: 0;
    bottom: 0;
    left: 50%;
    display: block;
}

footer ul {
    width: 100%;
    height: 100px;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 160%;
    height: 50px;
    margin: 2%;
    padding: 4%;
    color: slategrey;
}